body {
background-image: url("imagens/gramado.jpg");
}
@keyframes gira {
0% { transform: rotate(-90deg);}
40% { transform: rotate(-180deg);}
60% { transform: rotate(-270deg);}
100% { transform: rotate(-360deg);}
}
img#bola{
animation-name: gira;
animation-duration: 3s;
animation-iteration-count: infinite;
}
table{
width: 50%;
height: 50%;
margin: 0 auto;
background-color: white;
border-style: solid;
border-width: 5px;
}
th{
border-style: solid;
border-width: 1px;
}
td{
border-style: solid;
border-width: 1px;
}

#titulo{
color: white;
}