#nivel1{
background-color:rgb(255,0,0);
opacity:0.2;
}
#nivel2{
background-color:rgb(255,0,0);
opacity:0.4;
}
#nivel3{
background-color:rgb(255,0,0);
opacity:0.6;
}
#nivel4{
background-color:rgb(255,0,0);
opacity:0.8;
}
